@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,900,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);
body {
  padding: 0;
  margin: 0 auto;
  background-color: #FCFCFC;
  font-family: "Source Sans Pro", sans;
}
header {
  background-color: #214295;
  text-align: center;
}
header img {
  height: 70px;
  box-sizing: border-box;
  padding: 15px 0 15px 0;
}
header nav {
  background-color: #274DAD;
  box-sizing: border-box;
  text-align: right;
  padding: 0 5%;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 5000;
}
header nav h1 {
  color: white;
  display: inline-block;
  float: left;
}
header nav h1 small {
  color: rgba(255, 255, 255, 0.2);
}
header nav a {
  display: inline-block;
  box-sizing: border-box;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  padding: 15px 15px;
  transition: 0.15s;
  font-size: 8pt;
}
header nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.15s;
  color: rgba(255, 255, 255, 0.75);
}
header nav a:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
header nav a:visited {
  color: #FFFFFF;
}
#main {
  box-sizing: border-box;
  padding: 85px 35px 55px 35px;
}
#main section {
  width: 75%;
  width: calc(100% - 215px);
}
#main #nav-in {
  width: 21%;
  width: 200px;
  float: right;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 15px;
  position: fixed;
  right: 20px;
  top: 65px;
}
#main #nav-in ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  letter-spacing: 0.5px;
  font-weight: 300;
}
#main #nav-in ul li {
  box-sizing: border-box;
  padding: 5px 0;
}
#main #nav-in ul li a {
  font-size: 11pt;
  font-weight: 900;
  padding: 0 0 0 8px;
  border-left: 2px solid transparent;
  transition: 0.15s;
  letter-spacing: 1px;
  color: #2D3146;
}
#main #nav-in ul li a:hover {
  border-left: 2px solid #2D3146;
  transition: 0.15s;
}
#main #nav-in ul li ul li {
  padding: 0;
}
#main #nav-in ul li ul li a {
  font-size: 9pt;
  font-weight: 300;
  padding: 0 0 0 14px;
}
.wim-item-desc {
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: rgba(45, 49, 70, 0.3);
}
.wim-button-groups {
  width: 300px;
  box-sizing: border-box;
  padding: 15px;
}
.wim-button-groups .group-item {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 0;
}
.color-display {
  box-sizing: border-box;
  padding: 25px 0 0 0;
  width: 48%;
  display: inline-block;
  margin: 10px 0;
  border-radius: 3px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  border: 1px solid #e2e2e2;
}
.color-display h1 {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 0 0 15px 0;
}
.color-display h3 {
  display: inline-block;
  font-family: "Source Sans Pro", sans;
  font-weight: lighter;
  letter-spacing: 2px;
  box-sizing: border-box;
  padding: 0 10px;
}
.color-display h4 {
  padding: 15px 0 0 0;
  display: block;
  font-family: "Source Sans Pro", sans;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: lowercase;
  margin: 0 0 15px 0;
}
.color-display .alternate {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 25px;
  display: block;
  letter-spacing: 1px;
  font-size: 9.5pt;
  font-weight: 400;
  text-align: left;
  text-transform: lowercase;
}
.color-display.blue {
  background-color: #274DAD;
  margin-right: 2%;
  color: #FFFFFF;
}
.color-display.blue .alternate1 {
  background-color: #214295;
}
.color-display.blue .alternate2 {
  background-color: #3763d1;
}
.color-display.black {
  background-color: #2D3146;
  margin-left: 2%;
  color: #FFFFFF;
}
.color-display.black .alternate1 {
  background-color: #212434;
}
.color-display.black .alternate2 {
  background-color: #3d4360;
}
.color-display.grey {
  background-color: #e2e2e2;
  margin-right: 2%;
  color: #2D3146;
}
.color-display.grey h1 {
  color: #2D3146;
}
.color-display.grey .alternate1 {
  background-color: #d3d3d3;
}
.color-display.grey .alternate2 {
  background-color: #FCFCFC;
}
.secondary-display {
  box-sizing: border-box;
  padding: 18px 0 0 0;
  width: 23%;
  display: inline-block;
  margin: 10px 0;
  border-radius: 3px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  border: 1px solid #e2e2e2;
}
.secondary-display h1 {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 0 0 15px 0;
  font-size: 1.5em;
}
.secondary-display h3 {
  display: inline-block;
  font-family: "Source Sans Pro", sans;
  font-weight: lighter;
  letter-spacing: 2px;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 1em;
}
.secondary-display h4 {
  padding: 15px 0 0 0;
  display: block;
  font-family: "Source Sans Pro", sans;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: lowercase;
  margin: 0 0 15px 0;
  font-size: 0.8em;
}
.secondary-display .alternate {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 25px;
  display: block;
  letter-spacing: 1px;
  font-size: 9pt;
  font-weight: 400;
  text-align: left;
  text-transform: lowercase;
  text-align: center;
}
.secondary-display.lightblue {
  background-color: #6BE3FB;
  color: #FFFFFF;
}
.secondary-display.lightblue .alternate1 {
  background-color: #4cddfa;
}
.secondary-display.lightblue {
  background-color: #6BE3FB;
  color: #FFFFFF;
}
.secondary-display.lightblue .alternate1 {
  background-color: #4cddfa;
}
.secondary-display.red {
  background-color: #e31c3d;
  color: #FFFFFF;
}
.secondary-display.red .alternate1 {
  background-color: #c71835;
}
.secondary-display.yellow {
  background-color: #F6BE3E;
  color: #FFFFFF;
  margin: 0 2.666% 0 0%;
}
.secondary-display.yellow .alternate1 {
  background-color: #f4b31e;
}
.secondary-display.green {
  background-color: #2e8540;
  color: #FFFFFF;
  margin: 0 2.666% 0 2.666%;
}
.secondary-display.green .alternate1 {
  background-color: #266d34;
}
